<div class="main-conent">
  <h1>Star Wars Top Trumps</h1>
  <select class="ember-select">
    <option value="people">people</option>
    <option value="starships">starships</option>
  </select>

  <LinkTo @route="game" class="btn btn-primary button">
    There should be the name of game
  </LinkTo>

{{outlet}}
</div>
